<%# Search Form %>
<%= form_with url: "/flights/", method: :get do |form| %>
  <div>
    <%= form.label :departure_airport %>
    <%= select_tag(:departure_code, options_for_select(@airports)) %>
  </div>

  <div>
    <%= form.label :arrival_airport %>
    <%= select_tag(:arrival_code, options_for_select(@airports)) %>
  </div>

  <div>
    <%= form.label :"Date of Departure" %>
    <%= select_tag(:date, options_for_select(@flight_dates)) %>
  </div>

  <div>
    <%= form.label :"Number of Passengers" %>
    <%= select_tag(:num_tickets, options_for_select(@num_tickets)) %>
  </div>

  <%= form.submit "Search", name: nil %>
<% end %>


<%# Search Result %>
<% if @flights %>
  <h3> Search Result </h3>
  <% if @flights.any? %>

    <%= form_with url: "/bookings/new/", method: :get do |form| %>
      <%= form.hidden_field :ticket_count, value: @ticket_count %>

      <% @flights.each do |flight| %>
        <div>
          <%#= flight.id %>
          <%= flight.departure_airport.name %>  ->
          <%= flight.arrival_airport.name %> , 
          <%= flight.start %>
          - <%= flight.duration %> hours
          <%= form.radio_button :flight_id, flight.id %>
        </div>
        <br>
      <% end %>

      <%= form.submit "Booking", name: nil %>
    <% end %>

  <% end %>
<% end %>