<h2>New Booking</h2>

<div>
    <%= @flight.departure_airport.name %> ->
    <%= @flight.arrival_airport.name %>

    <p>Duration : <%= @flight.duration %> hours </p>
    <p>Departure Time : <%= @flight.start %></p>
</div>

<%# Booking Form %>

<div data-controller="passenger" data-passenger-count-value=<%= @ticket_count%>>

<h3>Please fill in passenger info (<%= @ticket_count %>):</h3>
<button data-action="click->passenger#add">Add passenger</button>

<%= form_with model: @booking do |f| %>
    <%= f.hidden_field :flight_id, value: @flight.id %>

    <div data-passenger-target = "container">
        <%= f.fields_for :passengers do |sub_form, n| %>
            <div data-passenger-target = "subForm">
                <h4>Passengers #<%= sub_form.options[:child_index] + 1 %></h4>
                <%= sub_form.label :name %>
                <%= sub_form.text_field :name %>
                <br>
                <%= sub_form.label :email %>
                <%= sub_form.text_field :email %>
                <br>
            </div>
        <% end %>


        <%# hidden tempalte %>
        <template data-passenger-target="template">
        <%= f.fields_for :passengers, Passenger.new, child_index: "NEW_RECORD" do |sub_form, n| %>
            <div data-passenger-target = "subForm">
                <h4>Passengers #NEW_RECORD</h4>
                <%= sub_form.label :name %>
                <%= sub_form.text_field :name %>
                <br>
                <%= sub_form.label :email %>
                <%= sub_form.text_field :email %>
                <br>
            </div>
            <% end %>
        </template>

    </div>

    <button data-action="click->passenger#remove">Remove passenger </button>
    <br>
    <%= f.submit "Submit" %>
<% end %>


</div>